application:
  runtimeManifest:
    packages:
      aco-google-merchant-center:
        license: Apache-2.0
        actions:
          catalog:
            function: actions/catalog/index.js
            web: "no"
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: $LOG_LEVEL
              STATE_REGION: $STATE_REGION
              ACO_TENANT_ID: $ACO_TENANT_ID
              ACO_API_BASE_URL: $ACO_API_BASE_URL
              GOOGLE_CREDS_JSON: $GOOGLE_CREDS_JSON
            annotations:
              require-adobe-auth: true
              final: true
