# Google Merchant Center configuration
GOOGLE_MERCHANT_ID=
GOOGLE_DATA_SOURCE_ID=
GOOGLE_FEED_LABEL=
GOOGLE_CREDS_PATH=

# Storefront configuration
STORE_BASE_URL=
STORE_URL_TEMPLATE=

# Commerce Optimizer configuration
ACO_API_BASE_URL=
ACO_VIEW_ID=
ACO_PRICE_BOOK_ID=
